.title {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro';
}

.bg-color-blue {
    background-color: #003566;
}

.bg-color-darkyellow {
    background-color: #ffc300;
}

.bg-color-yellow {
    background-color: #ffd60a;
}

.bg-color-darkblue {
    background-color: #001d3d;
}

.bg-color-blackblue {
    background-color: #000814;
}

select {
    font-family: 'FontAwesome', 'Second Font name';
    border: none;
    outline: none;
}

.output {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro';
}

.language-name {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro';
    writing-mode: vertical-lr;
}